{% extends 'base.html' %}
{% load bootstrap4 %}



{%block man%}

<style type="text/css">
    
#div{

border-color: blue;
width: 400px;
height: 400px;

}

</style>

<br><br><br><br>

<div class="container" style=" border-radius: 5px; width: 400px; background-color: white; padding: 30px 30px 30px 30px ;" >
<!-- ------------------
    JESUS TE AMA AMIGO
  --------------------- -->  
<h1 style="color: #7A8B8B; text-align: center;" >SAGCE</h1>
<div class="col-sm-4" >

<!--{% if form.errors %}
<p style="color: #7A8B8B;" >Usuario e Senha invalidas</p>
{% endif %}

{% if next %}
    {% if user.is_authenticated %}
    <p>Your account doesn't have access to this page. To proceed,
    please login with an account that has access.</p>
    {% else %}
    <p>Insira suas Credenciais</p>
    {% endif %}
{% endif %}-->
	
<form align="center" style=" width: 300px;" method="post" action="{% url 'login' %}">


{% csrf_token %}
{% bootstrap_form form %}


<input style="width: 90px;" type="submit" value="Entrar" style="text-transform: uppercase" class="btn btn-info">
<input type="hidden" name="next" value="{{ next }}">
</form>

{# Assumes you setup the password_reset view in your URLconf #}
<!--p><a href="{% url 'password_reset' %}">Esqueceu a Senha?</a></p-->
</div>
</div>

{% endblock %}
