{% extends 'base.html' %}
{% load bootstrap4 %}
{%block man%}

<br>
<div class="row" >     
	<div class="col-sm-6">
	    
	    <h1 style="color:white; ">Cadastrar Agendamentos</h1> <br> 
	    <form  action="{% url 'micro_agenda_novo' %}" method="POST">
	        {% bootstrap_form agenda %}
	        <!--variavel que o django injeta para combate a invasao de formulario (csrf_token)-->
	        {%csrf_token%}
	        <!--{{form.as_p}}-->
	        <button type="submit" style="text-transform: uppercase" class="btn btn-info">Cadastrar</button>
	    </form>
        
	</div>

<br>
 

    <div class="col-sm-6" style="text-align: right;" > 
          
           <a class="btn btn-info" href="{% url 'micro_agenda_cadastrados' %}">
             VOLTAR
           </a> 
         
    </div>

</div>

{% endblock %}

