{% extends 'base.html' %}
{% load bootstrap4 %}
{%block man%}

<br>
<div class="row">
    <div class="col-sm-6">
            
        <h1 style="color:white; ">Cadastrar Tarefas</h1>  
    </div>

    <div class="col-sm-6" style="text-align: right;">
        <div>         
           <a class="btn btn-info" href="{% url 'micro_agenda_task_cadastradas' %}">
             VOLTAR
           </a> 
        </div> 
    </div>
</div>    

<div class="row">
<div class="col-sm-12" >
<hr style="border-color: #C0C0C0" >
</div></div>

    <div class="row">
        <div class="col-sm-6">

            <form  action="{% url 'micro_agenda_task_novo' %}" method="POST">
                {% bootstrap_form agenda_task %}
                
                
                {%csrf_token%}

                
                <p class="text-uppercase"> {% bootstrap_form teste %}</p>
                
                {% if crontab and interval == True %}

                 

                {%endif%}

                <!--{{form.as_p}}-->
                <button type="submit" style="text-transform: uppercase" class="btn btn-info">Cadastrar</button>
            </form>
            
       
        </div>

    <div class="col-sm-6" style="text-align: left;">
        
        <br><br><br><br><br>

        <div style="text-align: left;">
        <a href="{% url 'micro_cronometro_cadastrados' %}" target="_blank">

            <button id="button_edit" class="btn btn-info" >CRONOMETROS</button> </a>
        </div>

        <div style="text-align: left;"> 
        OBSERVACAO: ESCOLHER AGENDA OU CRONOMETRO
        </div>
        <p></p>


        <div style="text-align: left;">
        <a href="{% url 'micro_agenda_cadastrados' %}" target="_blank">

            <button id="button_edit" class="btn btn-info" >AGENDA      </button> </a>
        </div>


        <!-- Links -->

        

    </div>

    

    
</div>



{% endblock %}

