{% extends 'base.html' %}
{% load bootstrap4 %}


{%block man%}
<style type="text/css">
    
    #cor-texto{color:white; ; }


</style>

<br>

<div class="col-sm-12">
	<div class="container" id="cor-texto" >     
	<h1 id="margin" >Cadastrar Tarefas</h1>
	<br>
    <ul >
        <li><a id="cor-texto" href="{% url 'micro_cronometro_cadastrados' %}" >
        <h5>Cronometro</h5></a>
        </li> 
        <li ><a id="cor-texto" href="{% url 'micro_agenda_cadastrados' %}">
        <h5>Agenda</h5></a>
        </li>
        <li  ><a id="cor-texto" href="{% url 'micro_agenda_task_cadastradas' %}"><h5>Agendador de Taredas</h5></a>
        </li>  

    </ul>
    </div>

</div>

{% endblock %}