{% extends 'base.html' %}
{% load bootstrap4 %}

{%block man%}
<div class="row">
	<div class="col-sm-6">
	<h2 style="text-transform: uppercase;" >voce tem certeza que deseja deletar - ( {{form.descricao}} ) </h2><br>
	
		<form action=" {% url 'micro_delete_agenda' form.id %} " method="POST" > 

		{%csrf_token%}


		<button class="btn btn-danger"  type="submit" >Deletar</button>

		</form>
	</div>

	<div class="col-sm-6" style="text-align: right;">
        <div>         
           <a class="btn btn-info" href="{% url 'micro_agenda_cadastrados' %}">
             VOLTAR
           </a> 
        </div>  
    </div>
</div>    



{% endblock %}