{% extends 'base.html' %}
{% load bootstrap4  %}





    
{%block man%}



<br><br><br>
<div class="row" >
    <div class="col-sm-12" >
        <hr style="border-color: #C0C0C0" >
    </div>

<div class="row" >
    <div class="col-sm-12" >
        <h2 >Seja bem vindo a SAGCE <a style="color: red;" href=" {% url 'micro_onoff' %} "> click aqui</a> para acessar o sistema</h2>
    </div>
</div>

<div class="col-sm-12" >
    <hr style="border-color: #C0C0C0" >
</div>
</div>
                  

{% endblock %}
