{% extends 'base.html' %}
{% load bootstrap4 %}


{%block man%}


<br><br><br><br><br><br>
<div class="row" >
<div class="col-sm-12" >
<hr style="border-color: #C0C0C0" >
</div>
<div class="col-sm-12" >
<div class="container" style="text-align: center; border-radius: 5px;background-color: white; padding: 30px 30px 30px 30px ;" >
<h2 style="color: #7A8B8B">Atenção equipamento ligado <a style="color: red;" href=" {% url 'micro_onoff' %} "> click aqui</a> para desliga-lo</h2>
</div></div>

<div class="col-sm-12" >
<hr style="border-color: #C0C0C0" >
</div>
</div>

{% endblock %}

