{% extends 'base.html' %}
{% load bootstrap4 %}



{% block head %}



<Meta http-equiv="refresh" content="10">
{% endblock %}

{%block man%}


<!-- ------------------
    JESUS TE AMA AMIGO
  --------------------- -->  
    <div class="row" >
    <div class="col-sm-12" >
        <div class="container" style="color:white ;text-align: right;">

            <h2 id="margin" style="text-align: left;">{{hora}}</h2> 

        </div>      
    </div>
    </div>

  
<div class="row" >
<div class="col-sm-12" >
<hr style="border-color: #C0C0C0" >
</div>
</div>

<div class="row" >
  <div class="col-sm-12"  > 
      
      <form>
        
        <input style="width: 1035px;" type="text" name="pesquisa" placeholder="Digite sua busca" >
        <button class="btn btn-info">Buscar</button>

      </form>
    </div>
  
</div>


<br>

<div class="row" style="text-align: center;">
    <div class="col-sm-12">
        <div class="container"> 
<h6>
    <button class="btn btn-success btn-lg"></button>&nbsp Ligado Manual &emsp;&ensp;
    <button class="btn btn-secondary btn-lg"></button>&nbsp
    Desligado Manual &emsp;&ensp;
    <button class="btn btn-info btn-lg"></button>&nbsp
    Ligado Automatico &emsp;&ensp;
    <button class="btn btn-danger btn-lg"></button>&nbspDesligado Automatico
</h6>
</div>
</div>
</div>
      
<br>        



    <div class="col-sm-12" style="background-color: white; border-radius: 5px;">
        <div class="container"> 
        
        <ul>    

        {%  for bt1 in botao  %}
        <div  class="btn btn-link" id="tamanho-div-botao"><h5 class="text-uppercase">{{bt1.descricao}}</h5>
        <a href="{% url 'micro_equipamentos' bt1.id %}"  style="text-decoration: none" ><button id="tamanho-botao"class= '{{bt1.cor}}'>{{bt1.status}}</button>&nbsp</a></div>

        <!-- {% if bt1.status == "OFF"%}
        <style type="text/css"> #t1{background: black;}</style>
        {%endif%}-->            

        {%endfor%}  
        </ul>
      
    </div>
</div>





{% endblock %} 

